@import url('https://fonts.googleapis.com/css2?family=Reggae+One&family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #5b0a0a 11.62%, #ec0f0f 85.61%);
} 

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-imagem  {
    height: 72px;
}

.cabecalho-nav {
    display: flex;
    gap: 32px;
}

.cabecalho-nav-item {
    font-family: 'Sarala', sans-serif;
    color: aliceblue;
    font-weight: 600;
    font-size: 18px;
}

.conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid aliceblue;
}

.conteudo-primario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.conteudo-primario-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-primario-escrito-titulo {
    font-family: 'Reggae One', cursive;
    font-weight: 400;
    font-size: 64px;
    color: aliceblue;
}

.conteudo-primario-escrito-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: rgb(250, 244, 234);
}

.conteudo-imagem {
    height: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    margin-top: 48px;
}

.conteudo-secundario-titulo {
    border-top: 0.4px solid aliceblue;
    padding-top: 48px;
    font-family: 'Sarala', cursive;
    font-weight: 400;
    font-size: 24px;
    color: aliceblue;
    margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
    font-family: 'Sarala', cursive;
    font-weight: 300;
    font-size: 18px;
    color: aliceblue;
    margin-bottom: 6px;
}

.final {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 48px;
    align-items: center;
}

.conteudo-final-titulo{
    border-top: 0.4px solid aliceblue;
    padding-top: 48px;
    font-family: 'Sarala', cursive;
    font-weight: 400;
    font-size: 24px;
    color: aliceblue;
    margin-bottom: 16px;
}

.conteudo-final-paragrafo {
    font-family: 'Sarala', cursive;
    font-weight: 300;
    font-size: 18px;
    color: aliceblue;
    margin-bottom: 6px;
}

.formulario{
    border-top: 0.4px solid aliceblue;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 48px;
    align-items: center;
}

.conteudo-formulario {
    background-color: rgb(250, 54, 54);
    border-radius: 75px;
    padding: 70px;
    width: 550px;
    height: 500px;
    margin-top: 48px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 24px;   
}

.formulario-titulo {
    font-family: 'Reggae One', cursive;
    font-weight: 400;
    font-size: 64px; 
    color: aliceblue;
    margin-top: 0px;
}

.formulario-campos {
    font-family: 'Sarala', cursive;
    font-weight: 300;
    font-size: 18px;
    color: aliceblue;
    margin-bottom: 6px;
}

.formulario-button {
    background-color: #ffffff;
    color: rgb(255, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Reggae One', cursive;
    font-size: 20px;
    border: none;
    border-radius: 15px;
}

.formulario-button:hover {
    background-color: #ff0000;
    color: white;
}

.rodape {
    border-top: 0.4px solid aliceblue;
}

.rodape-imagem {
    height: 150px;
    width: 165px;
    display: block;
    margin: 0 auto;
}